<table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Nama Game</th>
      <th>Kategori</th>
      <th>Nominal</th>      
      <th>Status</th>      
      <th>Action</th>
    </tr>
    </thead>    
    <tbody>      
      <% for(let i = 0;i< voucher.length ;i++){ %>               
        <tr>
          <td><%= i+1 %></td>
          <td><%= voucher[i].name %></td>          
          <td><%= voucher[i]?.category?.name ?? '-'%></td>                              
          <td>
            <% voucher[i].nominals.forEach(nominal => { %>
                <span class="badge badge-success">
                  <%= nominal.coinName %> <%= nominal.coinQuantity %>
                </span>
            <% }) %>
          </td> 
          <td>
            <% if (voucher[i].status == 'Y') { %>
              <span class="badge badge-primary">
                active
             </span>             
            <% } else { %>
             <span class="badge badge-danger">
                nonactive
             </span>
            <% } %>
          </td>
          <td class="d-flex item-aligns-center ml-2">
            <form action="/voucher/status/<%= voucher[i]._id %>?_method=put" method="POST">             
              <% if (voucher[i].status == 'Y') { %>
                <input type="hidden" name="status" value="N">
                <button class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Matikan</button>
              <% } else { %>
                <input type="hidden" name="status" value="Y">
                <button class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Hidupkan</button>
              <% } %>                           
            </form>

            <form action="/voucher/delete/<%= voucher[i]._id %>?_method=delete" method="POST">
              <a href="/voucher/edit/<%= voucher[i]._id %>" class="btn btn-warning btn-sm ml-2"><i class="fas fa-pencil-alt"></i></a>

              <button class="btn btn-danger btn-sm"><i class="fas fa-trash ml-2"></i></button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>   
  </table>